<div class="nk-block nk-auth-footer">
    <!-- <div class="nk-block-between">
        <ul class="nav nav-sm">
            <li class="nav-item"><a class="nav-link" href="#">Terms & Condition</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Privacy Policy</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Help</a></li>
            <li class="nav-item dropup"><a class="dropdown-toggle dropdown-indicator has-indicator nav-link"
                    data-toggle="dropdown" data-offset="0,10"><small>English</small></a>
                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                    <ul class="language-list">
                        <li><a href="#" class="language-item"><img src="../../images/flags/english.html" alt=""
                                    class="language-flag"><span class="language-name">English</span></a></li>
                        <li><a href="#" class="language-item"><img src="../../images/flags/spanish.html" alt=""
                                    class="language-flag"><span class="language-name">Español</span></a></li>
                        <li><a href="#" class="language-item"><img src="../../images/flags/french.html" alt=""
                                    class="language-flag"><span class="language-name">Français</span></a></li>
                        <li><a href="#" class="language-item"><img src="../../images/flags/turkey.html" alt=""
                                    class="language-flag"><span class="language-name">Türkçe</span></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div> -->
    <div class="">
        <p>&copy; <span id="year"></span>
            <script>
                document.getElementById("year").innerHTML = new Date().getFullYear();
            </script> Teleios. All Rights Reserved.
        </p>
    </div>
</div>