{% extends "base.html" %}

{% block auth %}
<div class="nk-content">
    <div class="nk-block nk-block-middle nk-auth-body  wide-xs">
        <div class="absolute-top-right d-lg-none p-3 p-sm-5">
            <a href="#" class="toggle btn-white btn btn-icon btn-light" data-target="athPromo">
                <em class="icon ni ni-info"></em>
            </a>
        </div>
        {% include "auth/logo.html" %}
        <div class="card card-bordered">
            <div class="card-inner card-inner-lg">
                <div class="nk-block-head">
                    <div class="nk-block-head-content">
                        <h5 class="nk-block-title">Access Teleios</h5>                        
                    </div>
                    <br>
                    <div>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% for category, message in messages %}
                        {% if category == 'message' %}
                        <div class="alert alert-warning" role="alert">
                            {% else %}
                            <div class="alert alert-{{ category }}" role="alert">
                                {% endif %}
                                {{ message }}
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                    <form action="" method="POST">
                        {{form.hidden_tag()}}
                        <div class="form-group">
                            <div class="form-label-group">
                                {{ form.email.label(class="form-label") }}
                                <a class="link link-primary link-sm" tabindex="-1" href="#">
                                    Need Help?
                                </a>
                            </div>
                            {% for error in form.email.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                            {{ form.email(class="form-control form-control-lg", id="txtemail",
                            placeholder="Email") }}
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                {{ form.password.label(class="form-label") }}
                                <a class="link link-primary link-sm" tabindex="-1"
                                    href="{{ url_for('auth.reset_password_request') }}">Forgot Password?
                                </a>
                            </div>
                            {% for error in form.password.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                            <div class="form-control-wrap">
                                {{ form.password(class="form-control form-control-lg", id="txtpassword",
                                placeholder="Password")}}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
                        </div>
                        <div class="form-note-s2"><a href="{{url_for('auth.register')}}">I don't have an account</a></div>
                    </form>
                </div>
            </div>
        </div>
        {% include "auth/auth-footer.html" %}        
    </div>
</div>
{% endblock %}