<div class="brand-logo pb-4 text-center">
    <a href="{{url_for('main.index')}}" class="logo-link">
        <img class="logo-light logo-img logo-img-lg" src="{{ url_for('static', filename='images/teleios.png') }}"
            alt="logo">
        <img class="logo-dark logo-img logo-img-lg" src="{{ url_for('static', filename='images/teleios.png') }}"
            alt="logo-dark"></a>
</div>