{% extends "base.html" %}

{% block auth %}
<div class="nk-content ">
    <div class="nk-block nk-block-middle nk-auth-body  wide-xs">
        {% include "auth/logo.html" %}
        <div class="card card-bordered">
            <div class="card-inner card-inner-lg">
                <div class="nk-block-head">
                    <div class="nk-block-head-content">
                        <h5 class="nk-block-title">Reset password</h5>
                        <div class="nk-block-des">
                            <p>If you forgot your password, provide you email address below and we’ll email you the
                                instructions to
                                reset it.</p>
                        </div>
                    </div>
                </div>
                <form action="" method="POST">
                    {{form.hidden_tag()}}
                    <div class="form-group">
                        <div class="form-label-group">
                            {{ form.email.label(class="form-label") }}
                        </div>
                        {% for error in form.email.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                        {{ form.email(class="form-control form-control-lg", id="resetpasswordemail",
                        placeholder="Enter your email address") }}
                    </div>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
                    </div>
                </form>
                <div class="form-note-s2 text-center pt-4"><a href="{{url_for('auth.login')}}"><strong>Return to
                            login</strong></a></div>
            </div>
        </div>
    </div>
    {% include "auth/auth-footer.html" %}
</div>
{% endblock %}