{% extends "base.html" %}

{% block content %}
<style>
    .nk-wg1-text {
        margin-bottom: 1.25rem;
    }
</style>
<div class="nk-content-body">
    <div class="nk-content-wrap">
        <div class="nk-block-head nk-block-head-sm">
            <div class="nk-block-between">
                <div class="nk-block-head-content">
                    <h2 class="nk-block-title page-title">Welcome, {{current_user.name}}</h2>
                    <!-- <div class="nk-block-des text-soft">
                        <p>Welcome to the Teleios Dashboard. Install and access an application</p>
                    </div> -->
                </div>
                <div class="nk-block-head-content">
                    <div class="toggle-wrap nk-block-tools-toggle"><a href="#"
                            class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em
                                class="icon ni ni-menu-alt-r"></em></a>
                        <div class="toggle-expand-content" data-content="pageMenu">
                            <ul class="nk-block-tools g-3">
                                <li>
                                    <div class="drodown"><a href="#"
                                            class="dropdown-toggle btn btn-white btn-dim btn-outline-light"
                                            data-toggle="dropdown"><em
                                                class="d-none d-sm-inline icon ni ni-filter-alt"></em><span>Filter
                                                By</span><em class="dd-indc icon ni ni-chevron-right"></em></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <ul class="link-list-opt no-bdr">
                                                <li><a href="#"><span>Installed</span></a></li>
                                                <li><a href="#"><span>Not Installed</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-block">
            <div class="row g-gs">
                {% for _module in _modules %}
                <div class="col-sm-6 col-xl-4">
                    <div class="card card-bordered h-100">
                        <div class="card-inner">
                            <div class="project">
                                <div class="project-head">
                                    <div class="nk-wg1-img">
                                        {{_module.svg_description|safe}}
                                    </div>
                                    <div class="drodown"><a href="#"
                                            class="dropdown-toggle btn btn-sm btn-icon btn-trigger mt-n1 mr-n1"
                                            data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <ul class="link-list-opt no-bdr">
                                                <li><a href="">
                                                        <em class="icon ni ni-info"></em>
                                                        <span>Module Info</span></a>
                                                </li>
                                                <li><a href="">
                                                        <em class="icon ni ni-book-read"></em>
                                                        <span>Learn More</span></a>
                                                </li>
                                                <li><a href="">
                                                        <em class="icon ni ni-download"></em>
                                                        <span>Install</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="nk-wg1-text">
                                    <h5 class="title">{{_module.name}}</h5>
                                    <p>{{_module.short_description}}</p>
                                </div>
                                <div class="card card-preview">
                                    <div class="btn-group">
                                        <button id="{{_module.name}}" type="button" class="install btn btn-outline-primary">Install</button>
                                        <button type="button" class="btn btn-outline-primary">Learn More</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</div>
{% include "modals/installing.html" %}
{% endblock %}