{% extends "base.html" %}

{% block getting_started %}
<style>
    .bordered-focus {
        border-color: #6576ff;
        box-shadow: 0 0 0 3px rgb(101 118 255 / 10%);
    }

    #dv_start_now {
        display: none;
    }

    #dv_loading {
        display: none;
    }
</style>
{% if title == 'Getting Started | Teleios' %}
<div class="nk-content-body">
    <div class="nk-content-wrap">
        <div class="nk-block-head nk-block-head-sm">
            <div class="nk-block-between">
                <div class="nk-block-head-content">
                    <h2 class="nk-block-title fw-normal">Manage Your Databases</h2>
                </div>
            </div>
        </div>
        <div class="nk-block nk-block-lg">
            <div class="card card-preview">
                <div class="card-inner">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-primary" role="alert" style="text-align: center;">
                        {{message}}&nbsp;<a href="{{url_for('main.choose_apps')}}" class="alert-link">Start
                            with
                            a New Database Instance</a>.
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
            <div class="card card-preview">
                <div class="card-inner">
                    <ul class="preview-btn-list preview-btn-list-fw">
                        <li class="preview-btn-item col-sm-6 col-lg-3"><span class="preview-title overline-title">Expava
                                Group</span><a href="#" class="btn btn-wider btn-primary"><span>Connect</span><em
                                    class="icon ni ni-arrow-right"></em></a></li>
                        <li class="preview-btn-item col-sm-6 col-lg-3"><span class="preview-title overline-title">Arnold
                                Nderitu</span><a href="#" class="btn btn-wider btn-primary"><span>Connect</span><em
                                    class="icon ni ni-arrow-right"></em></a></li>
                        <li class="preview-btn-item col-sm-6 col-lg-3"><span class="preview-title overline-title">Expava
                                Group Test</span><a href="#" class="btn btn-wider btn-primary"><span>Connect</span><em
                                    class="icon ni ni-arrow-right"></em></a></li>
                        <li class="preview-btn-item col-sm-6 col-lg-3"><span class="preview-title overline-title">Arnold
                                Nderitu Test</span><a href="#" class="btn btn-wider btn-primary"><span>Connect</span><em
                                    class="icon ni ni-arrow-right"></em></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</div>
{% endif %}
{% if title == 'New Database | Teleios' %}
<div id="dv_new_database" class="nk-content-body">
    <div class="nk-content-wrap">
        <div class="nk-block-head nk-block-head-sm">
            <div class="nk-block-between">
                <div class="nk-block-head-content">
                    <h2 class="nk-block-title fw-normal">Choose your Apps</h2>
                </div>
            </div>
        </div>
        {% for moduleCategory in moduleCategories %}
        <div class="nk-block nk-block-lg">
            <h5 class="title nk-block-title">{{moduleCategory.name}}</h5>
            <div class="row g-gs">
                {% for module in modules %}
                {% if module.category_id == moduleCategory.id %}
                <div class="col-lg-4">
                    <div id="dv-{{module.id}}" href="#" class="card card-bordered text-soft dv-module">
                        <div class="card-inner">
                            <div class="align-center justify-between">
                                <div class="g">
                                    <h6 id="title-{{module.id}}" class="title">{{module.name}}</h6>
                                    <p>{{module.short_description}}</p>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input check" id="check-{{module.id}}">
                                    <label class="custom-control-label" id="price-{{module.monthly_price_kes}}"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}                
            </div>
        </div>
        {% endfor %}
    </div>
    {% include "footer.html" %}
</div>
<div id="dv_start_now" class="nk-content-body">
    <div class="nk-content-wrap">
        <div class="components-preview wide-md mx-auto">
            <div class="nk-block-head nk-block-head-lg wide-sm">
                <div class="nk-block-head-content">
                    <div class="nk-block-head-sub"><a class="back" href="#"><em
                                class="icon ni ni-arrow-left"></em><span>Change apps selection</span></a></div>
                    <h2 class="nk-block-title fw-normal">Teleios | Get Started</h2>
                </div>
            </div><!-- .nk-block-head -->
            <div class="nk-block nk-block-lg">
                <div class="card card-preview">
                    <div class="card-inner">
                        <div class="preview-block">
                            <div class="row gy-4">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label" for="fname">First Name</label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control" id="fname" placeholder="First Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label" for="lname">Last Name</label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control" id="lname" placeholder="Last Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label" for="email">Email</label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control" id="email" placeholder="Email">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label" for="phneNumber">Phone Number</label>
                                        <div class="form-control-wrap">
                                            <input type="number" class="form-control" id="phneNumber"
                                                placeholder="Phone Number">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label" for="company">Company Name</label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control" id="company"
                                                placeholder="Company Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="form-label" for="domain">Domain</label>
                                        <div class="form-control-wrap">
                                            <div class="form-text-hint"><span class="overline-title">.teleios.com</span>
                                            </div>
                                            <input type="url" class="form-control" id="domain" placeholder="example">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="alert alert-gray alert-icon"><em class="icon ni ni-alert-circle"></em>By
                                        Clicking on <strong>Start Now</strong>,
                                        you accept our <a href="">Subscription Agreement</a> and <a href="">Privacy
                                            Policy</a></div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-control-wrap">
                                            <a href="#" class="back btn btn-wider btn-secondary">
                                                <em class="icon ni ni-arrow-left"></em>
                                                <span style="margin-left: 0%">Change apps selection</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-control-wrap">
                                            <a href="#" class="btn btn-wider btn-primary start-now"><span>Start
                                                    Now</span><em class="icon ni ni-arrow-right"></em></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- .card-preview -->
            </div><!-- .nk-block -->
        </div><!-- .components-preview -->
    </div>
    <!-- footer @s -->
    {% include "footer.html" %}
    <!-- footer @e -->
</div>
<div id="dv_loading" class="nk-content-body">
    <div class="nk-content-wrap">
        <div class="components-preview wide-md mx-auto">
            <div class="nk-block nk-block-lg">
                <div class="nk-block-head">
                    <div class="nk-block-head-content">
                        <h4 class="title nk-block-title">Building your Teleios apps</h4>
                        <p>We'll be ready shortly.
                        </p>
                    </div>
                </div>
                <div class="card card-preview">
                    <div class="card-inner">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" data-progress="75"
                                style="width: 75%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</div>

{% endif %}

{% include "modals/installing.html" %}
{% endblock %}