{% extends "base.html" %}

{% block content %}
<div class="nk-content-body">
    <div class="nk-content-wrap">
        <div class="nk-block-head nk-block-head-sm">
            <div class="nk-block-between">
                <div class="nk-block-head-content">
                    <h3 class="nk-block-title page-title">Overview</h3>
                    <div class="nk-block-des text-soft">
                        <p>Welcome to your accounting dashboard.</p>
                    </div>
                </div><!-- .nk-block-head-content -->
                <div class="nk-block-head-content">
                    <div class="toggle-wrap nk-block-tools-toggle">
                        <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em
                                class="icon ni ni-more-v"></em></a>
                        <div class="toggle-expand-content" data-content="pageMenu">
                            <ul class="nk-block-tools g-3">
                                <li>
                                    <div class="drodown">
                                        <a href="#" class="dropdown-toggle btn btn-white btn-dim btn-outline-light"
                                            data-toggle="dropdown"><em
                                                class="d-none d-sm-inline icon ni ni-calender-date"></em><span><span
                                                    class="d-none d-md-inline">Last</span> 30 Days</span><em
                                                class="dd-indc icon ni ni-chevron-right"></em></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <ul class="link-list-opt no-bdr">
                                                <li><a href="#"><span>Last 30 Days</span></a></li>
                                                <li><a href="#"><span>Last 6 Months</span></a></li>
                                                <li><a href="#"><span>Last 1 Years</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="nk-block-tools-opt"><a href="#" class="btn btn-primary"><em
                                            class="icon ni ni-reports"></em><span>Reports</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- .nk-block-head-content -->
            </div><!-- .nk-block-between -->
        </div><!-- .nk-block-head -->
        <div class="nk-block">
            <div class="row g-gs">
                <div class="col-sm-6">
                    <div class="card card-bordered">
                        <div class="card-inner">
                            <h5 class="card-title">Accounting Periods</h5>
                            <p class="card-text">Define your fiscal years & tax returns periodicity</p>
                            <button type="button" style="width: 100%;" class="btn btn-wider btn-primary"
                                data-toggle="modal"
                                data-target="#modalConfigureAccountingPeriods"><span>Configure</span><em
                                    class="icon ni ni-setting"></em></button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card card-bordered">
                        <div class="card-inner">
                            <h5 class="card-title">Chart of Accounts</h5>
                            <p class="card-text">Setup your chart of accounts and record initial balances</p>
                            <a href="{{url_for('accounting.coa') }}" class="btn btn-wider btn-primary"><span>Review</span><em
                                    class="icon ni ni-arrow-right"></em></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-block">
            <div class="row g-gs">
                <div class="col-sm-6">
                    <div class="card card-bordered">
                        <div class="card-inner">
                            <div class="card-title-group align-start mb-2">
                                <div class="card-title">
                                    <h6 class="title">Customer Invoices</h6>
                                </div>
                                <div class="card-tools">
                                    <div class="drodown">
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#modalInvoices">Selection</button>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn btn-outline-primary">NEW INVOICE</a>
                            <div class="align-end flex-sm-wrap g-4 flex-md-nowrap">
                                <div class="nk-sales-ck">
                                    <canvas class="sales-bar-chart" id="activeSubscription"></canvas>
                                </div>
                            </div>
                        </div>
                    </div><!-- .card -->
                </div><!-- .col -->
                <div class="col-sm-6">
                    <div class="card card-bordered">
                        <div class="card-inner">
                            <div class="card-title-group align-start mb-2">
                                <div class="card-title">
                                    <h6 class="title">Vendor Bills</h6>
                                </div>
                                <div class="card-tools">
                                    <div class="drodown">
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#modalVendorBills">Selection</button>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn btn-outline-primary">UPLOAD</a>
                            <a href="#" class="btn btn-outline-primary">CREATE</a>
                            <div class="align-end flex-sm-wrap g-4 flex-md-nowrap">
                                <div class="nk-sales-ck">
                                    <canvas class="sales-bar-chart" id="totalSubscription"></canvas>
                                </div>
                            </div>
                        </div>
                    </div><!-- .card -->
                </div><!-- .col -->
                <div class="col-sm-6">
                    <div class="card card-bordered">
                        <div class="card-inner">
                            <div class="card-title-group align-start mb-2">
                                <div class="card-title">
                                    <h6 class="title">Miscellaneous Operations</h6>
                                </div>
                                <div class="card-tools">
                                    <div class="drodown">
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#modalMisc">Selection</button>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn btn-outline-primary">NEW ENTRY</a>
                            <div class="align-end flex-sm-wrap g-4 flex-md-nowrap">
                                <div class="nk-sales-ck sales-revenue">
                                    <canvas class="sales-bar-chart" id="salesRevenue"></canvas>
                                </div>
                            </div>
                        </div>
                    </div><!-- .card -->
                </div><!-- .col -->
                <div class="col-sm-6">
                    <div class="card card-bordered">
                        <div class="card-inner">
                            <div class="card-title-group align-start mb-2">
                                <div class="card-title">
                                    <h6 class="title">Bank</h6>
                                </div>
                                <div class="card-tools">
                                    <div class="drodown">
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#modalBank">Selection</button>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn btn-outline-primary">SYNC</a>
                            <a href="#" class="btn btn-outline-primary">CREATE</a>
                            <a href="#" class="btn btn-outline-primary">IMPORT</a>
                            <div class="align-end flex-sm-wrap g-4 flex-md-nowrap">
                                <div class="nk-sales-ck large pt-4">
                                    <canvas class="sales-overview-chart" id="salesOverview"></canvas>
                                </div>
                            </div>
                        </div>
                    </div><!-- .card -->
                </div><!-- .col -->
                <div class="col-sm-6">
                    <div class="card card-bordered">
                        <div class="card-inner">
                            <div class="card-title-group align-start mb-2">
                                <div class="card-title">
                                    <h6 class="title">Cash</h6>
                                </div>
                                <div class="card-tools">
                                    <div class="drodown">
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#modalCash">Selection</button>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn btn-outline-primary">NEW TRANSACTION</a>
                            <div class="align-end flex-sm-wrap g-4 flex-md-nowrap">
                                <div class="nk-sales-ck large pt-4">
                                    <canvas class="sales-overview-chart" id="salesOverview"></canvas>
                                </div>
                            </div>
                        </div>
                    </div><!-- .card -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .nk-block -->
    </div>
    <!-- footer @s -->
    {% include "footer.html" %}
    <!-- footer @e -->
</div>
<!-- Modal -->
<div class="modal fade zoom" tabindex="-1" id="modalInvoices">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
            </div>
            <div class="modal-body">
                <div class="row g-gs">
                    <div class="col-sm-4">
                        <ul class="link-list-opt no-bdr">
                            <li>
                                <h6 class="title">View</h6>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#"><em class="icon ni ni-shield-star"></em><span>Invoices</span></a></li>
                            <li><a href="#"><em class="icon ni ni-shield-off"></em><span>Credit Notes</span></a></li>
                            <li><a href="#"><em class="icon ni ni-na"></em><span>Payments Matching</span></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="link-list-opt no-bdr">
                            <li>
                                <h6 class="title">New</h6>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#"><em class="icon ni ni-shield-star"></em><span>Invoice</span></a></li>
                            <li><a href="#"><em class="icon ni ni-shield-off"></em><span>Credit Note</span></a></li>
                            <li><a href="#"><em class="icon ni ni-na"></em><span>Upload Invoices</span></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="link-list-opt no-bdr">
                            <li>
                                <h6 class="title">Reporting</h6>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#"><em class="icon ni ni-shield-star"></em><span>Invoices Analysis</span></a>
                            </li>
                            <li><a href="#"><em class="icon ni ni-shield-off"></em><span>Aged Receivables</span></a>
                            </li>
                            <li><a href="#"><em class="icon ni ni-na"></em><span>Follow-up Reports</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row g-gs">
                    <div class="col-sm-4">
                        <ul class="link-list-opt no-bdr">
                            <li>
                                <a href="#" class="btn btn-outline-primary"><span>Configuration</span><em
                                        class="icon ni ni-setting"></em></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade zoom" tabindex="-1" id="modalVendorBills">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
            </div>
            <div class="modal-body">
                <div class="row g-gs">
                    <div class="col-sm-4">
                        <ul class="link-list-opt no-bdr">
                            <li>
                                <h6 class="title">View</h6>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#"><em class="icon ni ni-shield-star"></em><span>Bills</span></a></li>
                            <li><a href="#"><em class="icon ni ni-shield-off"></em><span>Refund</span></a></li>
                            <li><a href="#"><em class="icon ni ni-na"></em><span>Payments Matching</span></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="link-list-opt no-bdr">
                            <li>
                                <h6 class="title">New</h6>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#"><em class="icon ni ni-shield-star"></em><span>Bill</span></a></li>
                            <li><a href="#"><em class="icon ni ni-shield-off"></em><span>Refund</span></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="link-list-opt no-bdr">
                            <li>
                                <h6 class="title">Reporting</h6>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#"><em class="icon ni ni-shield-star"></em><span>Bills Analysis</span></a>
                            </li>
                            <li><a href="#"><em class="icon ni ni-shield-off"></em><span>Aged Payables</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row g-gs">
                    <div class="col-sm-4">
                        <ul class="link-list-opt no-bdr">
                            <li>
                                <a href="#" class="btn btn-outline-primary"><span>Configuration</span><em
                                        class="icon ni ni-setting"></em></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade zoom" tabindex="-1" id="modalMisc">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
            </div>
            <div class="modal-body">
                <div class="row g-gs">
                    <div class="col-sm-4">
                        <ul class="link-list-opt no-bdr">
                            <li>
                                <h6 class="title">View</h6>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#"><em class="icon ni ni-shield-star"></em><span>Journal Entries</span></a>
                            </li>
                            <li><a href="#"><em class="icon ni ni-shield-off"></em><span>Entries to Review</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="link-list-opt no-bdr">
                            <li>
                                <h6 class="title">New</h6>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#"><em class="icon ni ni-shield-star"></em><span>Journal Entry</span></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="link-list-opt no-bdr">
                            <li>
                                <h6 class="title">Operations</h6>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#"><em class="icon ni ni-shield-star"></em><span>Post All Entries</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row g-gs">
                    <div class="col-sm-4">
                        <ul class="link-list-opt no-bdr">
                            <li>
                                <a href="#" class="btn btn-outline-primary"><span>Configuration</span><em
                                        class="icon ni ni-setting"></em></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade zoom" tabindex="-1" id="modalBank">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
            </div>
            <div class="modal-body">
                <div class="row g-gs">
                    <div class="col-sm-4">
                        <ul class="link-list-opt no-bdr">
                            <li>
                                <h6 class="title">View</h6>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#"><em class="icon ni ni-shield-star"></em><span>Statements</span></a>
                            </li>
                            <li><a href="#"><em class="icon ni ni-shield-off"></em><span>Operations</span></a>
                            </li>
                            <li><a href="#"><em class="icon ni ni-shield-off"></em><span>Customer Payments</span></a>
                            </li>
                            <li><a href="#"><em class="icon ni ni-shield-off"></em><span>Vendor Payments</span></a>
                            </li>
                            <li><a href="#"><em class="icon ni ni-shield-off"></em><span>Internal Transfers</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="link-list-opt no-bdr">
                            <li>
                                <h6 class="title">New</h6>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#"><em class="icon ni ni-shield-star"></em><span>Import Statement</span></a>
                            </li>
                            <li><a href="#"><em class="icon ni ni-shield-star"></em><span>Statement</span></a></li>
                            <li><a href="#"><em class="icon ni ni-shield-star"></em><span>Customer Payment</span></a>
                            </li>
                            <li><a href="#"><em class="icon ni ni-shield-star"></em><span>Vendor Payment</span></a></li>
                            <li><a href="#"><em class="icon ni ni-shield-star"></em><span>Internal Transfer</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="link-list-opt no-bdr">
                            <li>
                                <h6 class="title">Reconciliation</h6>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#"><em class="icon ni ni-shield-star"></em><span>Reconciliation
                                        Models</span></a>
                            </li>
                            <li><a href="#"><em class="icon ni ni-shield-star"></em><span>Reconciliation
                                        Reports</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row g-gs">
                    <div class="col-sm-4">
                        <ul class="link-list-opt no-bdr">
                            <li>
                                <a href="#" class="btn btn-outline-primary"><span>Configuration</span><em
                                        class="icon ni ni-setting"></em></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade zoom" tabindex="-1" id="modalCash">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
            </div>
            <div class="modal-body">
                <div class="row g-gs">
                    <div class="col-sm-4">
                        <ul class="link-list-opt no-bdr">
                            <li>
                                <h6 class="title">View</h6>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#"><em class="icon ni ni-shield-star"></em><span>Statements</span></a>
                            </li>
                            <li><a href="#"><em class="icon ni ni-shield-off"></em><span>Operations</span></a>
                            </li>
                            <li><a href="#"><em class="icon ni ni-shield-off"></em><span>Customer Payments</span></a>
                            </li>
                            <li><a href="#"><em class="icon ni ni-shield-off"></em><span>Vendor Payments</span></a>
                            </li>
                            <li><a href="#"><em class="icon ni ni-shield-off"></em><span>Internal Transfers</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="link-list-opt no-bdr">
                            <li>
                                <h6 class="title">New</h6>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#"><em class="icon ni ni-shield-star"></em><span>Statement</span></a></li>
                            <li><a href="#"><em class="icon ni ni-shield-star"></em><span>Customer Payment</span></a>
                            </li>
                            <li><a href="#"><em class="icon ni ni-shield-star"></em><span>Vendor Payment</span></a></li>
                            <li><a href="#"><em class="icon ni ni-shield-star"></em><span>Internal Transfer</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="link-list-opt no-bdr">
                            <li>
                                <h6 class="title">Reconciliation</h6>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#"><em class="icon ni ni-shield-star"></em><span>Reconciliation
                                        Models</span></a>
                            </li>
                            <li><a href="#"><em class="icon ni ni-shield-star"></em><span>Reconciliation
                                        Reports</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row g-gs">
                    <div class="col-sm-4">
                        <ul class="link-list-opt no-bdr">
                            <li>
                                <a href="#" class="btn btn-outline-primary"><span>Configuration</span><em
                                        class="icon ni ni-setting"></em></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade zoom" tabindex="-1" id="modalConfigureAccountingPeriods">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title">Accounting Periods</h4>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
            </div>
            <div class="modal-body">
                <div class="row g-gs">
                    <div class="col-sm-6">
                        <h6 class="title">Fiscal Year</h6>
                        <div class="form-group"><label class="form-label" for="opening_date">Opening Date</label>
                            <div class="form-control-wrap"><input type="date" class="form-control" id="opening_date">
                            </div>
                        </div>
                        <div class="form-group"><label class="form-label" for="fiscal_yr_end">Fiscal Year End</label>
                            <div class="form-control-wrap"><input type="date" class="form-control" id="fiscal_yr_end"></div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h6 class="title">Tax Return</h6>
                        <div class="form-group"><label class="form-label" for="taxreturn_periodicity">Periodicity</label>
                            <div class="form-control-wrap"><input type="text" class="form-control" id="taxreturn_periodicity">
                            </div>
                        </div>
                        <div class="form-group"><label class="form-label" for="reminder">Reminder</label>
                            <div class="form-control-wrap"><input type="text" class="form-control" id="reminder"></div>
                        </div>
                        <div class="form-group"><label class="form-label" for="journal">Journal</label>
                            <div class="form-control-wrap"><input type="text" class="form-control" id="journal"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-light">
                <a href="#" class="btn btn-primary">APPLY</a>
                <a href="#" class="btn btn-outline-danger" data-dismiss="modal" aria-label="Close">CANCEL</a>
            </div>
        </div>
    </div>
</div>
<!-- .modal -->
{% endblock %}