<style>
    .loader {
        margin-left: 30%;
        top: 50%;
        border: 16px solid #f3f3f3;
        /* Light grey */
        border-top: 16px solid #3498db;
        /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<div class="modal fade" tabindex="-1" id="modalInstalling">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- <a href="#" id="Installing" class="close" data-dismiss="modal"><em class="icon ni ni-cross"></em></a> -->
            <div class="modal-body modal-body-lg text-center">
                <div class="nk-modal">
                    <div class="loader"></div>
                    <h4 class="nk-modal-title">Installing&nbsp;<span id="sp_module"></span>&nbsp;module</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="dv_modal-backdrop" class="modal-backdrop fade" style="display: none;"></div>