<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="../">
    <meta charset="utf-8">
    <meta name="author" content="Arnold">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ERP, CRM, etc. Business tools to help your organization grow.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="../static/images/favicon.png">
    <!-- Page Title  -->
    <title>{% if title %} {{title}} {% else %} Welcome to Teleios {% endif %}</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/dashlite.css') }}">
    <link id="skin-default" rel="stylesheet" href="{{ url_for('static', filename='assets/css/theme.css') }}">
    {{ JSGlue.include() }}
</head>
{% if title == 'Getting Started | Teleios' or title == 'New Database | Teleios' %}
<style>
    .nk-wg1-text {
        margin-bottom: 1.25rem;
    }

    @media (min-width: 992px) {
        .nk-aside {
            display: none;
        }

        .nk-aside .nk-sidebar-menu {
            display: none;
        }

        #responsivePricingPanel {
            display: none !important;
        }
    }

    @media (max-width: 992px) {
        #pricingPanel {
            display: none;
        }

        #responsivePricingPanel {
            display: none;
            bottom: 0px;
            margin-bottom: 0px;
            position: fixed;
            width: 100%;
            z-index: 999;
            background: #f5f6fa;
        }
    }
</style>
{% endif %}

{% if title == 'Sign In | Teleios' or title == 'Reset Password | Teleios' or title == 'Register | Teleios' %}

<body class="nk-body bg-white npc-default pg-auth">
    <div class="nk-app-root">
        <div class="nk-main">
            <div class="nk-wrap nk-wrap-nosidebar">
                {% block auth %} {% endblock %}
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='assets/js/bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/demo-settings.js') }}"></script>
</body>
{% elif title == 'Getting Started | Teleios' or title == 'New Database | Teleios' %}

<body class="nk-body bg-white npc-default">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- wrap @s -->
            <div class="nk-wrap">
                {% include "header.html" %}
                <div class="nk-content ">
                    <div class="container wide-xl">
                        <div class="nk-content-inner">
                            {% include "aside.html" %}
                            {% block getting_started %}{% endblock %}
                        </div>
                    </div>
                </div>
                {% if title == 'New Database | Teleios' %}
                <div id="responsivePricingPanel" class="card card-bordered">
                    <div class="card-body">
                        <h6 class="card-title"><span class="noApps">x</span>&nbsp;apps selected</h6>
                        <ul class="ul_apps">
                        </ul>
                        <div class="alert alert-pro alert-primary">
                            <div class="alert-text">
                                <span><strong>Total</strong>/month</span>
                                <p>KSH&nbsp;<span class="total_price"></span></p>
                            </div>
                        </div>
                        <a href="#" class="btn btn-wider btn-primary continue res"><span>Continue</span><em
                                class="icon ni ni-arrow-right"></em></a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <!-- wrap @e -->
    </div>
    <!-- main @e -->
    </div>
    <!-- app-root @e -->
    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='assets/js/bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/charts/gd-default.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/demo-settings.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/libs/jkanban.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/apps/kanban.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/kanban-custom.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
</body>
{% else %}

<body class="nk-body bg-white npc-default has-aside">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- wrap @s -->
            <div class="nk-wrap">
                {% include "header.html" %}
                <div class="nk-content ">
                    <div class="container wide-xl">
                        <div class="nk-content-inner">
                            {% include "aside.html" %}
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- wrap @e -->
    </div>
    <!-- main @e -->
    </div>
    <!-- app-root @e -->
    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='assets/js/bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/charts/gd-default.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/demo-settings.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/libs/jkanban.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/apps/kanban.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/kanban-custom.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
</body>
{% endif %}

</html>