<div class="nk-header nk-header-fixed is-light">
    <div class="container-lg wide-xl">
        <div class="nk-header-wrap">
            <div class="nk-header-brand">
                <a href="{{url_for('main.index')}}" class="logo-link">
                    <img class="logo-light logo-img" src="{{ url_for('static', filename='images/teleios.png') }}"
                        alt="logo">
                    <img class="logo-dark logo-img" src="{{ url_for('static', filename='images/teleios.png') }}"
                        alt="logo-dark">
                </a>
            </div><!-- .nk-header-brand -->
            <div class="nk-header-menu">
                <ul class="nk-menu nk-menu-main">
                    <li class="nk-menu-item has-sub">
                        <a href="#" class="nk-menu-link nk-menu-toggle">
                            <span class="nk-menu-text">Apps</span>
                        </a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item has-sub"><a href="#" class="nk-menu-link nk-menu-toggle"
                                    data-original-title="" title=""><span class="nk-menu-icon"><em
                                            class="icon ni ni-users"></em></span>
                                    <h6 class="overline-title text-primary-alt">Finance</h6>
                                </a>
                                <ul class="nk-menu-sub">
                                    <li class="nk-menu-item"><a href="/demo4/user-list-regular.html"
                                            class="nk-menu-link" data-original-title="" title=""><span
                                                class="nk-menu-text">Acounting</span></a></li>
                                    <li class="nk-menu-item"><a href="/demo4/user-list-compact.html"
                                            class="nk-menu-link" data-original-title="" title=""><span
                                                class="nk-menu-text">Invoicing</span></a></li>
                                    <li class="nk-menu-item"><a href="/demo4/user-details-regular.html"
                                            class="nk-menu-link" data-original-title="" title=""><span
                                                class="nk-menu-text">Expenses</span></a></li>
                                </ul>
                            </li>
                            <li class="nk-menu-item has-sub"><a href="#" class="nk-menu-link nk-menu-toggle"
                                    data-original-title="" title=""><span class="nk-menu-icon"><em
                                            class="icon ni ni-users"></em></span>
                                    <h6 class="overline-title text-primary-alt">Sales</h6>
                                </a>
                                <ul class="nk-menu-sub">
                                    <li class="nk-menu-item"><a href="/demo4/user-list-regular.html"
                                            class="nk-menu-link" data-original-title="" title=""><span
                                                class="nk-menu-text">CRM</span></a></li>
                                    <li class="nk-menu-item"><a href="/demo4/user-list-compact.html"
                                            class="nk-menu-link" data-original-title="" title=""><span
                                                class="nk-menu-text">Sales</span></a></li>
                                    <li class="nk-menu-item"><a href="/demo4/user-details-regular.html"
                                            class="nk-menu-link" data-original-title="" title=""><span
                                                class="nk-menu-text">Point of Sale</span></a></li>
                                    <li class="nk-menu-item"><a href="/demo4/user-list-regular.html"
                                            class="nk-menu-link" data-original-title="" title=""><span
                                                class="nk-menu-text">Inventory</span></a></li>
                                </ul>
                            </li>
                            <li class="nk-menu-item has-sub"><a href="#" class="nk-menu-link nk-menu-toggle"
                                    data-original-title="" title=""><span class="nk-menu-icon"><em
                                            class="icon ni ni-users"></em></span>
                                    <h6 class="overline-title text-primary-alt">People Experience</h6>
                                </a>
                                <ul class="nk-menu-sub">
                                    <li class="nk-menu-item"><a href="/demo4/user-list-compact.html"
                                            class="nk-menu-link" data-original-title="" title=""><span
                                                class="nk-menu-text">Staff</span></a></li>
                                    <li class="nk-menu-item"><a href="/demo4/user-details-regular.html"
                                            class="nk-menu-link" data-original-title="" title=""><span
                                                class="nk-menu-text">New Talent</span></a></li>
                                    <li class="nk-menu-item"><a href="/demo4/user-details-regular.html"
                                            class="nk-menu-link" data-original-title="" title=""><span
                                                class="nk-menu-text">Time Off</span></a></li>
                                    <li class="nk-menu-item"><a href="/demo4/user-details-regular.html"
                                            class="nk-menu-link" data-original-title="" title=""><span
                                                class="nk-menu-text">Appraisals</span></a></li>
                                    <li class="nk-menu-item"><a href="/demo4/user-details-regular.html"
                                            class="nk-menu-link" data-original-title="" title=""><span
                                                class="nk-menu-text">Fleet</span></a></li>
                                </ul>
                            </li>
                            <li class="nk-menu-item has-sub"><a href="#" class="nk-menu-link nk-menu-toggle"
                                    data-original-title="" title=""><span class="nk-menu-icon"><em
                                            class="icon ni ni-users"></em></span>
                                    <h6 class="overline-title text-primary-alt">Services</h6>
                                </a>
                                <ul class="nk-menu-sub">
                                    <li class="nk-menu-item"><a href="/demo4/user-list-compact.html"
                                            class="nk-menu-link" data-original-title="" title=""><span
                                                class="nk-menu-text">Projects</span></a></li>
                                    <li class="nk-menu-item"><a href="/demo4/user-details-regular.html"
                                            class="nk-menu-link" data-original-title="" title=""><span
                                                class="nk-menu-text">Timesheets</span></a></li>
                                    <li class="nk-menu-item"><a href="/demo4/user-details-regular.html"
                                            class="nk-menu-link" data-original-title="" title=""><span
                                                class="nk-menu-text">Help Desk</span></a></li>
                                    <li class="nk-menu-item"><a href="/demo4/user-details-regular.html"
                                            class="nk-menu-link" data-original-title="" title=""><span
                                                class="nk-menu-text">Planning</span></a></li>
                                    <li class="nk-menu-item"><a href="/demo4/user-details-regular.html"
                                            class="nk-menu-link" data-original-title="" title=""><span
                                                class="nk-menu-text">Appointments</span></a></li>
                                </ul>
                            </li>
                            <li class="nk-menu-item has-sub"><a href="#" class="nk-menu-link nk-menu-toggle"
                                    data-original-title="" title=""><span class="nk-menu-icon"><em
                                            class="icon ni ni-users"></em></span>
                                    <h6 class="overline-title text-primary-alt">Productivity</h6>
                                </a>
                                <ul class="nk-menu-sub">
                                    <li class="nk-menu-item"><a href="/demo4/user-list-compact.html"
                                            class="nk-menu-link" data-original-title="" title=""><span
                                                class="nk-menu-text">Video Conferencing</span></a></li>
                                    <li class="nk-menu-item"><a href="/demo4/user-details-regular.html"
                                            class="nk-menu-link" data-original-title="" title=""><span
                                                class="nk-menu-text">Let's Chat</span></a></li>
                                </ul>
                            </li>
                        </ul><!-- .nk-menu-sub -->
                    </li><!-- .nk-menu-item -->
                    <li class="nk-menu-item has-sub">
                        <a href="html/support-kb.html" class="nk-menu-link nk-menu-toggle">
                            <span class="nk-menu-text">Community</span>
                        </a>
                        <ul class="nk-menu-sub">
                            <li class="nk-menu-item has-sub"><a href="#" class="nk-menu-link nk-menu-toggle"
                                    data-original-title="" title=""><span class="nk-menu-icon"><em
                                            class="icon ni ni-users"></em></span>
                                    <h6 class="overline-title text-primary-alt">Learn</h6>
                                </a>
                                <ul class="nk-menu-sub">
                                    <li class="nk-menu-item"><a href="/demo4/user-list-regular.html"
                                            class="nk-menu-link" data-original-title="" title=""><span
                                                class="nk-menu-text">Tutorials</span></a></li>
                                    <li class="nk-menu-item"><a href="/demo4/user-list-compact.html"
                                            class="nk-menu-link" data-original-title="" title=""><span
                                                class="nk-menu-text">Documentation</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nk-menu-item has-sub"><a href="#" class="nk-menu-link nk-menu-toggle"
                                    data-original-title="" title=""><span class="nk-menu-icon"><em
                                            class="icon ni ni-users"></em></span>
                                    <h6 class="overline-title text-primary-alt">Collaborate</h6>
                                </a>
                                <ul class="nk-menu-sub">
                                    <li class="nk-menu-item"><a href="/demo4/user-list-regular.html"
                                            class="nk-menu-link" data-original-title="" title=""><span
                                                class="nk-menu-text">Forums</span></a></li>
                                    <li class="nk-menu-item"><a href="/demo4/user-list-compact.html"
                                            class="nk-menu-link" data-original-title="" title=""><span
                                                class="nk-menu-text">Events</span></a></li>
                                    <li class="nk-menu-item"><a href="/demo4/user-list-compact.html"
                                            class="nk-menu-link" data-original-title="" title=""><span
                                                class="nk-menu-text">Report an
                                                Issue</span></a></li>
                                </ul>
                            </li>
                            <li class="nk-menu-item has-sub"><a href="#" class="nk-menu-link nk-menu-toggle"
                                    data-original-title="" title=""><span class="nk-menu-icon"><em
                                            class="icon ni ni-users"></em></span>
                                    <h6 class="overline-title text-primary-alt">Services</h6>
                                </a>
                                <ul class="nk-menu-sub">
                                    <li class="nk-menu-item"><a href="/demo4/user-list-compact.html"
                                            class="nk-menu-link" data-original-title="" title=""><span
                                                class="nk-menu-text">Custom
                                                Development</span></a></li>
                                    <li class="nk-menu-item"><a href="/demo4/user-details-regular.html"
                                            class="nk-menu-link" data-original-title="" title=""><span
                                                class="nk-menu-text">Find an
                                                Accountant</span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul><!-- .nk-menu-sub -->
                    </li>
                    <li class="nk-menu-item">
                        <a href="html/support-kb.html" class="nk-menu-link">
                            <span class="nk-menu-text">Pricing</span>
                        </a>
                    </li><!-- .nk-menu-item -->
                </ul><!-- .nk-menu -->
            </div><!-- .nk-header-menu -->
            <div class="nk-header-tools">
                <ul class="nk-quick-nav">
                    <li class="dropdown notification-dropdown">
                        <a href="#" class="dropdown-toggle nk-quick-nav-icon" data-toggle="dropdown">
                            <div class="icon-status icon-status-info">
                                <em class="icon ni ni-activity-alt"></em>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right dropdown-menu-s1">
                            <div class="dropdown-head">
                                <span class="sub-title nk-dropdown-title">Activities</span>
                            </div>
                            <div class="dropdown-body">
                                <div class="nk-notification">
                                    <div class="nk-notification-item dropdown-inner">
                                        <div class="nk-notification-icon">
                                            <em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>
                                        </div>
                                        <div class="nk-notification-content">
                                            <div class="nk-notification-text">You have requested to
                                                <span>Widthdrawl</span>
                                            </div>
                                            <div class="nk-notification-time">2 hrs ago</div>
                                        </div>
                                    </div>
                                    <div class="nk-notification-item dropdown-inner">
                                        <div class="nk-notification-icon">
                                            <em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>
                                        </div>
                                        <div class="nk-notification-content">
                                            <div class="nk-notification-text">Your <span>Deposit
                                                    Order</span> is placed</div>
                                            <div class="nk-notification-time">2 hrs ago</div>
                                        </div>
                                    </div>
                                    <div class="nk-notification-item dropdown-inner">
                                        <div class="nk-notification-icon">
                                            <em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>
                                        </div>
                                        <div class="nk-notification-content">
                                            <div class="nk-notification-text">You have requested to
                                                <span>Widthdrawl</span>
                                            </div>
                                            <div class="nk-notification-time">2 hrs ago</div>
                                        </div>
                                    </div>
                                    <div class="nk-notification-item dropdown-inner">
                                        <div class="nk-notification-icon">
                                            <em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>
                                        </div>
                                        <div class="nk-notification-content">
                                            <div class="nk-notification-text">Your <span>Deposit
                                                    Order</span> is placed</div>
                                            <div class="nk-notification-time">2 hrs ago</div>
                                        </div>
                                    </div>
                                    <div class="nk-notification-item dropdown-inner">
                                        <div class="nk-notification-icon">
                                            <em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>
                                        </div>
                                        <div class="nk-notification-content">
                                            <div class="nk-notification-text">You have requested to
                                                <span>Widthdrawl</span>
                                            </div>
                                            <div class="nk-notification-time">2 hrs ago</div>
                                        </div>
                                    </div>
                                    <div class="nk-notification-item dropdown-inner">
                                        <div class="nk-notification-icon">
                                            <em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>
                                        </div>
                                        <div class="nk-notification-content">
                                            <div class="nk-notification-text">Your <span>Deposit
                                                    Order</span> is placed</div>
                                            <div class="nk-notification-time">2 hrs ago</div>
                                        </div>
                                    </div>
                                </div><!-- .nk-notification -->
                            </div><!-- .nk-dropdown-body -->
                            <div class="dropdown-foot center">
                                <a href="#">View All</a>
                            </div>
                        </div>
                    </li><!-- .dropdown -->
                    <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle mr-lg-n1" data-toggle="dropdown">
                            <div class="user-toggle">
                                <div class="user-avatar sm">
                                    <em class="icon ni ni-user-alt"></em>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-right dropdown-menu-s1">
                            <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                <div class="user-card">
                                    <div class="user-info">
                                        <span class="lead-text">{{current_user.name}}</span>
                                        <span class="sub-text">{{current_user.email}}</span>
                                    </div>
                                    <div class="user-action">
                                        <a class="btn btn-icon mr-n2" href="html/user-profile-setting.html"><em
                                                class="icon ni ni-setting"></em></a>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-inner">
                                <ul class="link-list">
                                    <li>
                                        <a href="#">
                                            <em class="icon ni ni-folder"></em>
                                            <span>Documentation</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <em class="icon ni ni-help-alt"></em>
                                            <span>Support</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <em class="icon ni ni-setting-alt"></em>
                                            <span>Account Setting</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="dropdown-inner">
                                <ul class="link-list">
                                    <li><a href="{{url_for('auth.logout')}}"><em
                                                class="icon ni ni-signout"></em><span>Sign
                                                out</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li><!-- .dropdown -->
                    <li class="d-lg-none">
                        <a href="#" class="toggle nk-quick-nav-icon mr-n1" data-target="sideNav"><em
                                class="icon ni ni-menu"></em></a>
                    </li>
                </ul><!-- .nk-quick-nav -->
            </div><!-- .nk-header-tools -->
        </div><!-- .nk-header-wrap -->
    </div><!-- .container-fliud -->
</div>